---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import MainBannerCard from "../components/main-banner/Card.astro";

const posts = [
  { src: "featured-guitarman.jpg.webp", type: "highlighted" },
  { src: "featured-watch.jpg.webp", type: "normal" },
  { src: "featured-beetle.jpg.webp", type: "normal" },

  { src: "featured-watch.jpg.webp", type: "normal" },
  { src: "featured-guitarman.jpg.webp", type: "highlighted" },
  { src: "featured-beetle.jpg.webp", type: "normal" },
];
---

<Layout title="Welcome to Astro.">
  <section class="first-section">
    <Navbar />

    <section class="main-banner-wrapper">
      <div class="main-banner">
        {
          posts.map((post) => (
            <div class={`${post.type}-post`}>
              <MainBannerCard src={post.src} />
            </div>
          ))
        }
      </div>
    </section>
  </section>
</Layout>

<style lang="scss">
  .first-section {
    @apply bg-black min-h-screen flex flex-col justify-between pb-5;
  }

  .main-banner-wrapper {
    @apply container mx-auto flex-1 flex pt-10 px-5 md:pt-20 md:px-20;

    .main-banner {
      @apply grid md:grid-rows-2 md:grid-cols-3 gap-0 w-full;

      .highlighted-post {
        @apply md:col-span-2 md:row-span-2;
      }

      div:not(.main-post) {
        min-height: 300px;
      }
    }
  }
</style>
