---
---

<div class="nav-wrapper">
  <nav>
    <div class="social">
      <button>
        <i class="bi bi-facebook text-white text-2xl"></i>
      </button>
      <button>
        <i class="bi bi-twitter text-white text-2xl"></i>
      </button>
      <button>
        <i class="bi bi-youtube text-white text-2xl"></i>
      </button>
    </div>
    <div class="logo">
      <h1 class="logo">مدونتي.</h1>
    </div>
    <div class="search">
      <button class="text-white font-bold">
        <i class="bi bi-search text-1xl"></i>
        <span class="text-2xl mx-2">ابحث</span>
      </button>
    </div>
  </nav>
</div>

<style lang="scss">
  .logo {
    @apply text-7xl text-white font-bold text-center;
  }

  .nav-wrapper {
    @apply container mx-auto bg-black py-5;
  }

  nav {
    @apply grid gap-2 grid-cols-6;

    div {
      &:not(.logo) {
        @apply md:col-span-1 items-center justify-center gap-4;
      }

      &.social {
        @apply hidden md:flex;
      }

      &.search {
        @apply col-span-3 md:col-span-1 md:items-center items-end md:justify-center justify-end flex px-10; 
      }

      &.logo {
        @apply col-span-3 md:col-span-4;
      }
    }
  }
</style>
