<button>
  <i class="bi bi-facebook text-white text-2xl"></i>
</button>
<button>
  <i class="bi bi-twitter text-white text-2xl"></i>
</button>
<button>
  <i class="bi bi-youtube text-white text-2xl"></i>
</button>
